{% extends "base.html" %}
    {% block title %}
        {{ post.title }}
    {% endblock %}
    {% block content %}
    <div>
        <h1>{{ post.title }}</h1>
    <div>
        <br>
    <div>
        <img src="{{ post.photo.url }}" width="100%" height="100%" class="text-center logomiddlemain" />
    </div>
    <div>
        {{ post.body }}
    </div>
        <br><br/>
        <a href="{% url 'blog_home' %}" class="btn btn-secondary">Back</a>
        <a href="{% url 'update' post.pk %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'delete' post.pk %}" class="btn btn-secondary">Delete</a>
</div>
    {% endblock %}


    